* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: violet; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(samman_samaroh.jpg);
    /* background-position:  */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
}

.data {
    padding-top: 90px;
    /* width: 100vw; */
    /* height: ; */
}

.col {
    /* border: 1px solid black; */
    width: auto;
    height: fit-content;
    padding: 20px;
    margin: 20px;
}

.sub-btn {
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 30px;
}

.inputs {
    width: 250px;
    height: 30px;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

label {
    padding-left: 5px;
    font-size: 20px;
    color: white;
}

#s {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
    outline: none;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    font-size: 20px;
}

#s:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}