{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>housing</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>

<body>
    <!--<div class="title">
        <h1 style="color: white;"> King Country US House Price Pridiction</h1>
    </div>-->
    <form action="predict" method="POST">
        <div class="data">

            {% csrf_token %}
            <div style="display: flex;justify-content: center; height: 80%;">
                <div class="col">
                    <label for="bedrooms"> Bedrooms</label> <br>
                    <input class="inputs" type="text" id="bedrooms" name="bedrooms"><br> <br>
                    <label for="bathrooms">Bathrooms</label> <br>
                    <input class="inputs" type="text" id="bathrooms" name="bathrooms"><br> <br>
                    <label for="sqft_living">Living Area</label> <br>
                    <input class="inputs" type="text" id="sqft_living" name="sqft_living"><br> <br>
                    <label for="sqft_lot">Lot Area</label> <br>
                    <input class="inputs" type="text" id="sqft_lot" name="sqft_lot"><br> <br>
                    <label for="floors">Floors</label> <br>
                    <input class="inputs" type="text" id="floors" name="floors"><br> <br>
                    <label for="waterfront">Waterfront</label> <br>
                    <input class="inputs" type="text" id="waterfront" name="waterfront"><br> <br>

                </div>
                <div class="col">
                    <label for="sqft_above">Above Area</label> <br>
                    <input class="inputs" type="text" id="sqft_above" name="sqft_above"><br> <br>
                    <label for="sqft_basement">Basement</label> <br>
                    <input class="inputs" type="text" id="sqft_basement" name="sqft_basement"><br> <br>
                    <label for="yr_built">Year of Built</label> <br>
                    <input class="inputs" type="text" id="yr_built" name="yr_built"><br> <br>
                    <label for="yr_renovated">Year of Renovated</label> <br>
                    <input class="inputs" type="text" id="yr_renovated" name="yr_renovated"><br> <br>
                    <label for="zipcode">Zipcode</label> <br>
                    <input class="inputs" type="text" id="zipcode" name="zipcode"><br> <br>
                    <label for="lat">Latitude</label> <br>
                    <input class="inputs" type="text" id="lat" name="lat"><br> <br>

                </div>
                <div class="col">
                    <label for="long">Longitude</label> <br>
                    <input class="inputs" type="text" id="long" name="long"><br> <br>
                    <label for="sqft_living15">Living15 Area</label> <br>
                    <input class="inputs" type="text" id="sqft_living15" name="sqft_living15"><br> <br>
                    <label for="sqft_lot15">Lot15 Area</label> <br>
                    <input class="inputs" type="text" id="sqft_lot15" name="sqft_lot15"><br> <br>
                    <label for="view">View</label> <br>
                    <input class="inputs" type="text" id="view" name="view"><br> <br>
                    <label for="condition">Condition</label> <br>
                    <input class="inputs" type="text" id="condition" name="condition"><br> <br>
                    <label for="grade">Grade</label> <br>
                    <input class="inputs" type="text" id="grade" name="grade"><br> <br>
                </div>
            </div>
        </div>
        <div class="sub-btn" style="">
            <input id="submit" type="submit">
        </div>
    </form>
</body>

</html>