<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="predict" method="POST">
    {% csrf_token %}
        <input type="text" name="bedrooms"><br> <br>
        <input type="text" name="bathrooms"><br> <br>
        <input type="text" name="sqft_living"><br> <br>
        <input type="text" name="sqft_lot"><br> <br>
        <input type="text" name="floors"><br> <br>
        <input type="text" name="waterfront"><br> <br>
        <input type="text" name="view"><br> <br>
        <input type="text" name="condition"><br> <br>
        <input type="text" name="grade"><br> <br>
        <input type="text" name="sqft_above"><br> <br>
        <input type="text" name="sqft_basement"><br> <br>
        <input type="text" name="yr_built"><br> <br>
        <input type="text" name="yr_renovated"><br> <br>
        <input type="text" name="zipcode"><br> <br>
        <input type="text" name="lat"><br> <br>
        <input type="text" name="long"><br> <br>
        <input type="text" name="sqft_living15"><br> <br>
        <input type="text" name="sqft_lot15"><br> <br>
        <input type="submit">
    </form>
</body>
</html>